* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Vibur', cursive;
}

button {
    border: 0;
    outline: none;
}

head {
    display: none;
}

body {
    min-height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header-start */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0 10px 0;
}

.header-text {
    font-size: 35px;
    font-weight: 300;
    color: #565252;
    margin-top: 5px;
}
/* header-end */


/* content-start */

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 1140px;
}

/* slider-start */

.content_container-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 0 10px 0 10px;
    border-radius: 50px;
    background: linear-gradient(115deg, #f8f8fb, #d1d1d4);
    box-shadow: 4px 4px 10px #c5c5c8, 
                -4px -4px 10px #ffffff;
    z-index: 1;
}

.container-picture {
    position: relative;
    height: 390px;
    width: 390px;
    border-radius: 48px;
    box-shadow: inset 2px 3px 8px #8f8f94;
    overflow: hidden;
}

.slider-track {
    position: relative;
    display: flex;
    height: 390px;
    z-index: -1;
    transition: .4s;
}

.slider_button-wrap-left,
.slider_button-wrap-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #E8E8EB;
    box-shadow: 1px 2px 5px #c5c5c8, 
                -3px -3px 10px #ffffff;
}

.slider_button-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: linear-gradient(145deg, rgb(248, 248, 251), rgb(209, 209, 212));
    box-shadow: rgb(197 197 200) 3px 3px 5px, 
                rgb(255 255 255) -2px -2px 6px;
    transition: .9s;
    cursor: pointer;
}
.slider_button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: linear-gradient(145deg, rgb(248, 248, 251), rgb(209, 209, 212));
    box-shadow: rgb(197 197 200) 3px 3px 5px, 
                rgb(255 255 255) -2px -2px 6px;
    transition: .9s;
    cursor: pointer;
}

.slider_button-left:active,
.slider_button-right:active {
    background: #E8E8EB;
    box-shadow: inset 3px 3px 6px #c5c5c8,
                inset -3px -3px 6px #ffffff;
}

.block {
    background: rgb(128 128 128 / 10%);
    box-shadow: none;
    cursor: auto;
}

/* slider-end */

/* piano-start */
.piano {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    background: #E8E8EB;
    box-shadow: 4px 4px 4px #c5c5c8, 
                -1px -2px 10px #ffffff, 
                inset -3px -1px 4px 0px #c5c5c8, 
                inset 3px 2px 4px #ffffff;
}

.container-top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* white-piano-key_start */

.piano-key {
    position: relative;
    width: 30px;
    height: 100px;
    margin: 3px;
    outline: none;
    border-radius: 0 0 15px 15px;
    transition: 0.13s ease-in-out;
    cursor: pointer;
    box-shadow: -7px -7px 20px 0px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0002,
                4px 4px 5px 0px #0001;
}

.piano-key:active {
    box-shadow: none;
    box-shadow: -2px -2px 8px 0px #fff9,
                0px 0px 1px 0px #fff9,
                0px 0px 1px 0px #0001;
}
/* white-piano-key_end */


/* black-piano-key_start */

.wrap-keys-black-top {
    position: absolute;
    top: 3px;
    left: 100px;
    right: 127px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.piano-key-black {
    width: 18px;
    height: 70px;
    border-radius: 0 0 15px 15px;
    transition: 0.13s ease-in-out;
    cursor: pointer;
    background: linear-gradient(192deg, #6b6b6b, #000000);
    box-shadow: 1px 1px 2px #2f2f2f;
}

.piano-key-black:active {
    background: linear-gradient(272deg, #6b6b6b, #000000);
    box-shadow: inset 1px 1px 2px #2f2f2f;
}

.piano-key-black-none {
    width: 18px;
    height: 70px;
    border-radius: 0 0 15px 15px;
}

.wrap-keys-black-bottom {
    position: absolute;
    top: 3px;
    left: -9px;
    right: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* black-piano-key_end */
/* piano-end */
/* content-end */

/* buttons on the piano */
.container-bttns {
    display: flex;
    height: 100px;
    width: 100px;
    /* border: 1px solid #000; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container_indicators {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20px;
    width: 100%;
    /* border: 1px solid #000; */
    flex-direction: row;
}

.indicator {
    height: 25%;
    width: 90%;
    transform: skew(135deg);
    background: linear-gradient(90deg, #ff0a19, #d6180b);
    box-shadow: 1px 1px 4px 0px #cf392e, 1px 0px 8px #eca19b;
}

.wrap-bttn-play {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background: #b9b9bd;
    box-shadow: inset 0px 0px 6px #bfbfc2, inset 3px 3px 6px #ffffff;
}

.playback-buttons {
    height: 90%;
    width: 30%;
    border: 2px solid rgb(218 218 218 / 50%);
    background: rgb(234, 234, 236);
    box-shadow: 3px 3px 7px #c9c9cb;
    border-radius: 5px;
    cursor: pointer;
}

.playback-buttons:active {
    transform: scale(0.9);
}
.playback-buttons:hover {
    background: rgb(241, 241, 243);
}

.playback-buttons img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/* checkbox */

.check {
    position: relative;
}
.check_input {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
}
.check_fake {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: linear-gradient(130deg, #d2d2d4, #f9f9fd);
    box-shadow: 2px 2px 4px #c6c6c9, -2px -2px 4px #ffffff;
    cursor: pointer;
}

.check_fake::before {
    content: '';
    position: absolute;
    display: block;
    height: 10px;
    width: 10px;
    opacity: 0;
    transition: .2s;
    border-radius: 2px;
    background: #e4e4e4;
    box-shadow: 2px 2px 4px #c6c6c9, -2px -2px 4px #ffffff;
}
.check_input:checked + .check_fake::before {
    opacity: 1;
}

/* github-start */
.container-github {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}
/* footer-start */

.github {
    display: block;
    width: 65px;
    height: 65px;
    padding-left: 45px;
    background-image: url(files/icon/github.svg);
    background-repeat: no-repeat;
    color: rgb(212 144 166);
}


/* active style */
/* color indicators*/
.active {
    background: linear-gradient(152deg, #4dff5c, #23d60b);
    box-shadow: 1px 1px 4px 0px #3bcf2e, -2px -1px 7px #3eff88;
}
.pause {
    background: linear-gradient(152deg, #fffc4d, #d6d30b);
    box-shadow: 1px 1px 4px 0px #cfcc2e, -2px -1px 7px #fffc3e;
}


.active_w-b {
    border: 1px solid rgb(253, 215, 0);
    box-shadow: none;
    box-shadow: -2px -2px 8px 0px #fff9,
                0px 0px 1px 0px #fff9,
                0px 0px 1px 0px #0001;
}
.active_b-b {
    border: 1px solid rgb(253, 215, 0);
    background: linear-gradient(272deg, #6b6b6b, #000000);
    box-shadow: inset 1px 1px 2px #2f2f2f;
}