* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Inter', sans-serif;
}

head {
    display: none;
}

body {
    min-height: 100vh;
    background: #fff;
    /* background: #F0F8FF; */
}

/* header-start */
.header {
    width: 100%;
    /* border-bottom: 2px solid black; */
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, rgb(152,146,212), #BBC9D9, rgb(176,174,221));
    text-align: center;
}

.header-title {
    display: flex;
    justify-content: center;
    line-height: 60px;
    font-weight: 300;
}

.text-container-1 {
    display: flex;
    justify-content: center;
    color: #e1e7ee;
    margin-right: 2px;
}

.text-container-2 {
    display: flex;
    justify-content: center;
    color: #e1e7ee;
    margin-left: 2px;
}

.letters {
    margin-left: 1px;
}

.letters:hover {
    color: #3a4083;
    text-transform: uppercase;
}
/* header-end */


/* content-start */

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

/* slider-start */

.content_container-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 0 10px 0 10px;
    border-radius: 50px;
    background: linear-gradient(115deg, #f8f8fb, #d1d1d4);
    box-shadow: 4px 4px 10px #c5c5c8, 
                -4px -4px 10px #ffffff;
}

.container-picture {
    position: relative;
    height: 290px;
    width: 290px;
    border-radius: 48px;
    background: #E8E8EB;
    box-shadow: inset 2px 3px 6px #8f8f94, 
                inset -1px -1px 2px #ffffff;
    overflow: hidden;
}

.slider-track {
    display: flex;
    justify-content: center;
    height: 290px;
}

.img_1,
.img_2,
.img_3 {
    height: 290px;
    min-width: 290px;
}

.img_1 {
    background-color: rgb(220, 245, 1);
}
.img_2 {
    background-color: rgb(189, 19, 19);
}
.img_3 {
    background-color: rgb(42, 221, 6);
}

.slider_button-wrap-left,
.slider_button-wrap-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background: #E8E8EB;
    box-shadow: 1px 2px 5px #c5c5c8, 
                -3px -3px 10px #ffffff;
}

.slider_button-left,
.slider_button-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: linear-gradient(145deg, rgb(248, 248, 251), rgb(209, 209, 212));
    box-shadow: rgb(197 197 200) 3px 3px 5px, 
                rgb(255 255 255) -2px -2px 6px;
    cursor: pointer;
}

.slider_button-left:active,
.slider_button-right:active {
    background: #E8E8EB;
    box-shadow: inset 3px 3px 6px #c5c5c8,
                inset -3px -3px 6px #ffffff;
}

/* slider-end */

/* piano-start */
.piano {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 94%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
    background: #E8E8EB;
    box-shadow: 4px 4px 4px #c5c5c8, 
                -1px -2px 10px #ffffff, 
                inset -3px -1px 4px 0px #c5c5c8, 
                inset 3px 2px 4px #ffffff;
}

.container-top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* white-piano-key_start */

.piano-key {
    position: relative;
    width: 30px;
    height: 100px;
    margin: 3px;
    outline: none;
    border-radius: 0 0 15px 15px;
    transition: 0.13s ease-in-out;
    cursor: pointer;
    box-shadow: -7px -7px 20px 0px #fff9,
                -4px -4px 5px 0px #fff9,
                7px 7px 20px 0px #0002,
                4px 4px 5px 0px #0001;
}

.piano-key:active {
    box-shadow: none;
    box-shadow: -2px -2px 8px 0px #fff9,
                0px 0px 1px 0px #fff9,
                0px 0px 1px 0px #0001;
}

/* white-piano-key_end */


/* black-piano-key_start */

.wrap-keys-black-top {
    position: absolute;
    top: 3px;
    left: 100px;
    right: 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.piano-key-black {
    width: 18px;
    height: 70px;
    border-radius: 0 0 15px 15px;
    transition: 0.13s ease-in-out;
    cursor: pointer;
    background: linear-gradient(192deg, #6b6b6b, #000000);
    box-shadow: 1px 1px 2px #2f2f2f;
}

.piano-key-black:active {
    box-shadow: inset 6px 8px 8px #cbd1d6, inset 3px 3px 6px #ffffff;
}

.piano-key-black-none {
    width: 18px;
    height: 70px;
    border-radius: 0 0 15px 15px;
}

.wrap-keys-black-bottom {
    position: absolute;
    top: 3px;
    left: -7px;
    right: 62px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* black-piano-key_end */

/* piano-end */

/* content-end */

/* footer-start */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border-top: 2px solid black; */
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, rgb(197,198,228), rgb(172,168,220), rgb(221,227,236));
}

.footer-container {
    height: 100%;
    margin: 0.5vh;
}

.github {
    display: block;
    width: 120px;
    height: 45px;
    padding-left: 45px;
    background-image: url(files/icon/github.svg);
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 45px;
    color: rgb(151,144,212);
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    transition: 0.3s;
}

.github:hover {
    color: rgb(111, 105, 165);
    text-decoration: none;
    font-size: 23px;
}